# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# Logs
*.log

# Database/CSV files (optional, keep only if you want to version control them)
*.db
*.sqlite3

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
#testing 
.hypothesis
.csv
.pytest_cache
