fastapi==0.115.12
uvicorn[standard]==0.34.2
gunicorn==23.0.0

pydantic==2.11.5
email-validator==2.2.0
python-multipart==0.0.20
python-dotenv==1.1.0

sqlalchemy==2.0.41
psycopg2-binary==2.9.10

python-jose==3.5.0
passlib[bcrypt]==1.7.4

pandas==2.2.2
numpy==1.26.4
torch==2.4.1
sentence-transformers==3.1.1
scikit-learn==1.5.2
chromadb==0.5.11

orjson==3.11.5
uvloop==0.19.0
httptools==0.6.4
bcrypt==4.1.2
passlib[bcrypt]

pytest==8.3.4